@charset "utf-8";

.collumn{
	width:300px;
	margin-top:36px;
	margin-left:10px;
	margin-right:10px;
	float:left;
}
#wrapper
{
	width:1000px;
}

a:link {
			text-decoration: none;
			color: #07016D;
			font-weight: bold;
		}
		a:visited {
			color: #D35F6B;
		}
		a:hover {
			color: #7A0A16;
			font-weight: bolder;
		}
		a:focus {
			color: #9D2431;
		}
		a:active {
			color: #9D2431;
		}


