@charset "utf-8";
/* CSS Document */

body
{
	
}

.outerwrapper
{
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.wrapper
{
	display: flex;
	flex-direction: row;
	width: 300vw;
	transform: rotate(90deg) translateY(-100vh);
	transform-origin: top left;
}

::-webkit-scrollbar {
  display:none;
}

.section
{
	width: 100vw;
	height: 100vh;
	
}

.first
{
 background-image:url("../background4.png");

}

.second
{
 background-image:url("../background.png");
	

}

.third
{
 background-image:url("../background2.png");
	font-size:28px;

}

.mainnav
{
	transform: rotate(90deg);
}

h1
{
font-family: 'Alata', sans-serif;
	font-size:48px;
	color:white;
}

h2
{
font-family: 'Alata', sans-serif;
	font-size:36px;
	color:white;
}

h3
{
font-family: 'Arimo', sans-serif;
font-size:20px;
	color:white;
}

p
{
	margin-right:40px;
	margin-left:40px;
	font-family: 'Inconsolata', monospace;
}

#gallery
{
	background-color:#D8F0F4;
	width:1000px;
	height:500px;
}

a
{
font-family: 'Inconsolata', monospace;

}
